@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}



html {
    height: 500vh;
}

/* Header Area */

header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 99;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content i {
    font-size: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
    
}

.header-content .icon {
    display: flex;
    align-items: center;
}

.header-content a span {
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
}

header.scrolling {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 4%;
}

.header-content ul {
    list-style-type: none;
}

.header-content ul li {
    display: inline-block;
    margin: 0 20px;
}

.header-content ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 550;
}

.button {
    border: none;
    padding: 10px 20px;
    background-color: #C00113;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: ease 0.5s;
}

.button:hover {
    transform: scale(1.10);
    opacity: 0.85;
}

.container {
    max-width: 1280px;
    margin: auto;
}



/* Slide Area */

.banner-slide {
    height: 100vh;
    overflow: hidden;
}

.banner-slide .slider {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slider-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: inherit;
}

.slider-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-control {
    width: 100px;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
    align-content: center;
    text-align: center;
}

.slider-control i { 
    color: #FFF;
    font-size: 30px;
}

.first {
    background-image: url('../assets/images/background-civic.jpg');
}

.second {
    background-image: url('../assets/images/background-lancer.jpg');
}

.third {
    background-image: url('../assets/images/background-jeep.jpg');
}

.dark {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

/* Slide Content Area */

.slider-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.slider-content h2 {
    font-family: 'Afacad Flux', sans-serif;
    color: #FFF;
    font-size: 60px;
}

.slider-content h1 {
    font-family: 'Afacad Flux', sans-serif;
    color: #FFF;
    font-size: 120px;
    line-height: 100px;
}

.seemore-button {
    background-color:#C00113;
    border: none;
    margin-top: 70px;
    padding: 20px 40px;
    font-size: 20px;
    color: #FFF;
    font-style: italic;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: ease .5s;
}

.seemore-button:hover {
    transform: scale(1.10);
    opacity: 0.85;
}

.slider-content em {
    background-color: #c001149c;
    padding: 0px 10px;
}