@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url('../assets/images/bodybackground-audir8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
    height: 500vh;
}

/* Padronizações de Sections */

.default-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.white {
    background-color: #FAFAFA;
    color: #000;
}

.white2 {
    background-color: #eee;
}

.black {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FAFAFA;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Afacad Flux', sans-serif;
}

.section-desc {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Afacad Flux', sans-serif;
    margin-bottom: 40px;
}

.black .section-desc {
    color: #CCC;
}

.white .section-desc {
    color: #888;
}

.section-body {
    max-width: 1140px;
    margin:auto;
}

/* Header Area */

header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 99;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2.4;
}

.container i {
    font-size: 40px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    
}

.container .icon {
    display: flex;
    align-items: center;
    flex: 1;
}

.container a span {
    font-size: 20px;
    color: #FAFAFA;
    font-weight: 600;
}

header.scrolling {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 4%;
}

.header-content ul {
    list-style-type: none;
}

.header-content ul li {
    display: inline-block;
    margin: 0 20px;
}

.header-content ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FAFAFA;
    font-weight: 550;
}

.button {
    border: none;
    padding: 10px 20px;
    background-color: #C00113;
    color: #FAFAFA;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: ease 0.5s;
}

.button:hover {
    transform: scale(1.10);
    opacity: 0.85;
}

.container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* Header MOBILE */

.nav-item {
    padding: 40px 0px 10px 0px;
    border-bottom: 2px solid #C00113;
}

.nav-item a {
    color: #FAFAFA;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

#mobile-button,
#mobile-menu {
    display: none;
}

#mobile-nav-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* Slide Area */

.banner-slide {
    height: 100vh;
    overflow: hidden;
}

.banner-slide .slider {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}

.slider-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: inherit;
}

.slider-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-control {
    width: 50px;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    cursor: pointer;
    align-content: center;
    text-align: center;
}

.slider-control i { 
    color: #FAFAFA;
    font-size: 30px;
}

.first {
    background-image: url('../assets/images/background-civic.jpg');
}

.second {
    background-image: url('../assets/images/background-lancer.jpg');
}

.third {
    background-image: url('../assets/images/background-jeep.jpg');
}

.dark {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

/* Slide Content Area */

.slider-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.slider-content h2 {
    font-family: 'Afacad Flux', sans-serif;
    color: #FAFAFA;
    font-size: 60px;
}

.slider-content h1 {
    font-family: 'Afacad Flux', sans-serif;
    color: #FAFAFA;
    font-size: 120px;
    line-height: 100px;
}

.seemore-button {
    background-color:#C00113;
    border: none;
    margin-top: 70px;
    padding: 20px 40px;
    font-size: 20px;
    color: #FAFAFA;
    font-style: italic;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: ease .5s;
}

.seemore-button:hover {
    transform: scale(1.10);
    opacity: 0.85;
}

.slider-content em {
    background-color: #c001149c;
    padding: 0px 10px;
}

/* About us Area */

.aboutus {
    display: flex;
}

.aboutus-left {
    flex: 1;
}

.aboutus-left p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Afacad Flux', sans-serif;
    margin-bottom: 40px;
}

.aboutus-right {
    width: 500px;
    text-align: center;
}

.aboutus-right img{
    width: 480px;
    box-shadow: 3px 5px 10px #333;
}

.button.btn-aboutus {
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
}

/* Prices Area */

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.prices-card {
    width: 250px;;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-right: 0px;
    padding: 20px;
    border-radius: 10px;
}

.prices-card:last-child {
    margin-right: 0px;
}

.card-item-name {
    font-size: 20px;
    font-family: 'Afacad Flux', sans-serif;
    margin-bottom: 10px;
}

.card-item-price {
    font-size: 24px;
    color:#C00113;
    margin-bottom: 10px;
}

.card-item-desc {
    color: #CCC;
    font-family: 'Afacad Flux', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

.card-item-image {
    width: 70%;
    margin-bottom: 15px;
}

.price-button {
    padding: 5px 30px;
    border: none;
    font-family: 'Afacad Flux', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #C00113;
    color: #FAFAFA;
    cursor: pointer;
    transition: ease 0.5s;
}

.price-button:hover {
    transform: scale(1.10);
    opacity: 0.8;
}

/* Our Team Area */

.team-card {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
    font-family: 'Afacad Flux', sans-serif;
}

.team-card-photo {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.levi {
    background-image: url(../assets/images/levi.jpg);
    
}

.jared {
    background-image: url(../assets/images/jared.jpg);
}

.jodi {
    background-image: url(../assets/images/jodi.jpg);
}

.susan {
    background-image: url(../assets/images/susan.jpg);
}

.team-card-name {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 24px;
}

.team-card-role {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.team-card-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.team-card-social i {
    background-color: #000;
    color: #FFF;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    transition: ease 0.5s;
}

.team-card-social i:hover {
    background-color: #C00113;
    transform: scale(1.10);
}

/* Our Team Slide Area */

.before-slider {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.team-slider {
    width: 1120px;
    height:320px;
    display: flex;
    transition: ease 0.5s;
}

.team-slide {
    min-width: 260px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
    z-index: 11;
}

.team-slider-controls {
    margin-top: -55px;
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-slider-control {
    width: 50px;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
    align-content: center;
    text-align: center;
    color: white;
}


@media (max-width: 1600px) {
    /* Slide Content Area */
    .slider-content {
        max-width: 740px;
    }
    
    .slider-content h2 {
        font-size: 50px;
    }
    
    .slider-content h1 {
        font-size: 70px;
        line-height: 70px;
    }
    
    .seemore-button {
        margin-top: 70px;
        padding: 20px 40px;
        font-size: 20px;
    }

     /* Slider Control Area */

     .slider-control {
        width: 30px;
        height: 20vh;
    }
}

@media (min-width: 800px) and (max-width: 1440px) {
    /* Header Area */
    
    .container {
        max-width: 800px;
    }

    .container i {
        font-size: 30px;
    }
    
    .container a span {
        font-size: 15px;
    }

    .header-content {
        flex: 3.3;
    }

    .header-content ul li {
        margin: 0 10px;
    }
    
    .header-content ul li a {
        font-size: 14px;
    }

    .button {
        padding: 7px 15px;
        font-size: 12px;
    }

    /* Slide Content Area */
    .slider-content {
        max-width: 740px;
    }
    
    .slider-content h2 {
        font-size: 50px;
    }
    
    .slider-content h1 {
        font-size: 70px;
        line-height: 70px;
    }
    
    .seemore-button {
        margin-top: 70px;
        padding: 20px 40px;
        font-size: 20px;
    }

     /* Slider Control Area */

     .slider-control {
        width: 30px;
        height: 20vh;
    }
}

@media (min-width: 450px) and (max-width: 800px) {
    /* Header Mobile Area */
    #mobile-button {
        display: block;
        z-index: 100;
    }
    
    #mobile-menu {
        display: none;
        flex-direction: column;
        gap: 5%;
        padding: 20px;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: 100vh;
        right: 0;
        top: 0;
    }
    
    #mobile-menu .button {
        width: 100%;
        padding: 20px 40px;
        margin-top: 40px;
    }

    .header-content {
        display: none;
    }

    .container {
        justify-content: space-around;
    }

    header.scrolling {
        padding: 20px 4%;
    }

    header {
        padding: 30px;
    }

    /* Slide Content Area */
    .slider-content {
        max-width: 450px;
        align-items: center;
    }
    
    .slider-content h2 {
        font-size: 30px;
    }
    
    .slider-content h1 {
        font-size: 60px;
        line-height: 70px;
        text-align: center;
    }
    
    .seemore-button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 20px;
    }

    /* Slider Control Area */

    .slider-control {
        width: 30px;
        height: 20vh;
    }

    /* About Us Area */

    .aboutus {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-left {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
    
    .aboutus-left p {
        margin-bottom: 40px;
        text-align: center;
    }
    
    .aboutus-right {
        margin-top: 40px;
        text-align: center;
        width: 450px;
    }
    
    .aboutus-right img{
        width: 400px;
    }

}

@media (max-width: 450px) {
     /* Header Mobile Area */
    
     #mobile-button {
        display: block;
        z-index: 100;
    }
    
    #mobile-menu {
        display: none;
        flex-direction: column;
        gap: 5%;
        padding: 20px;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: 100vh;
        right: 0;
        top: 0;
    }
    
    #mobile-menu .button {
        width: 100%;
        padding: 20px 40px;
        margin-top: 40px;
    }

    .header-content {
        display: none;
        
    }

    .container {
        justify-content: space-around;
        gap: 0;
    }  
    
    header.scrolling {
        padding: 20px 4%;
    }

    header {
        padding: 30px;
    }

    /* Slide Content Area */
    .slider-content {
        max-width: 300px;
        align-items: center;
    }
    
    .slider-content h2 {
        font-size: 30px;
    }
    
    .slider-content h1 {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }
    
    .seemore-button {
        margin-top: 40px;
        padding: 10px 20px;
        font-size: 20px;
    }

    /* Slider Control Area */

    .slider-control {
        width: 30px;
        height: 10vh;
    }

    /* About Us Area */

    .aboutus {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-left {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
    
    .aboutus-left p {
        margin-bottom: 40px;
        text-align: center;
    }
    
    .aboutus-right {
        margin-top: 40px;
        text-align: center;
        width: 320px;
    }
    
    .aboutus-right img{
        width: 310px;
    }

}